# Database Configuration (json | postgres | mysql | sqlite)
DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ekinerja_smansage
DB_USER=postgres
DB_PASSWORD=your_password_here
DATABASE_URL=postgresql://postgres:your_password_here@localhost:5432/ekinerja_smansage

# Port Web Server
PORT=3000
HOST=0.0.0.0

# Cloudflare R2 / S3 Object Storage Presign Configuration
R2_ACCESS_KEY_ID=your_r2_access_key_id
R2_SECRET_ACCESS_KEY=your_r2_secret_access_key
R2_ENDPOINT=https://<account_id>.r2.cloudflarestorage.com
R2_BUCKET_NAME=your_bucket_name
R2_FOLDER_PATH=ekinsmansage
R2_PUBLIC_URL=https://your-custom-domain-or-r2-public-url.com
R2_REGION=auto
R2_USE_PATH_STYLE_ENDPOINT=true

# Telegram Bot (Optional)
TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_URL=

# AI Configuration (gemini | openai)
# Default: gemini jika GEMINI_API_KEY diisi, atau openai jika OPENAI_API_KEY diisi
AI_PROVIDER=openai
# Pilihan 1: OpenAI Compatible / 9router / OpenRouter / Ollama
OPENAI_API_KEY=your_openai_or_9router_api_key_here
OPENAI_BASE_URL=https://api.9router.com/v1
OPENAI_MODEL=openai/gpt-4o-mini
# Pilihan 2: Google Gemini
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash

# Domain Publik Aplikasi (Penting untuk Reverse Proxy & SSO Callback)
APP_URL=https://akin.sman1gedeg.sch.id
ZITADEL_REDIRECT_URI=

# SSO Zitadel OIDC (Optional)
ZITADEL_ISSUER=https://auth.instansi.go.id
ZITADEL_CLIENT_ID=
ZITADEL_CLIENT_SECRET=
ZITADEL_BUTTON_TEXT="Masuk dengan SSO"
